<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Employees Page</title>
</head>

<body>
  <h1>Employees</h1>

  [ <a href="employees">Employees</a> | <a href="customers">Customers</a> | <a href="sales">Sales</a> |
  <a href="salehas_clothes">Sale Has Clothes</a> | <a href="clothes">Clothes</a> | <a href="manufacturers">Manufacturers</a> | <a href="/">Index</a> ]

  <div id="browse">
    <p> </p>
    <table border="1" cellpadding="5">
      <tr>
        <th>EmployeeID</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Hire Date</th>
        <th>email</th>
        <th>phone</th>
      </tr>
      <!-- Table data fields loading in most current db records from server -->
      <%records.forEach(record=> {%>
      <tr>
        <td><%=record['idEmployee']%></td>
        <td><%=record['First Name']%></td>
        <td><%=record['Last Name']%></td>
        <td><%=record['Hire Date']%></td>
        <td><%=record['email']%></td>
        <td><%=record['phone']%></td>
      </tr>
      <%});%>
    </table>
  </div>

  <p>&nbsp;</p>
  <div id="insert">
    <form method="POST" id="addEmployee">
      <legend><strong>Add employee</strong></legend>
      <fieldset class="fields">
        <label> first name </label> <input type="text" name="firstName">
        <label> last name </label> <input type="text" name="lastName">
        <label> hire date </label> <input type="date" name="hireDate">
        <label> email </label> <input type="text" name="email">
        <label> phone # </label> <input type="tel" name="phone">
      </fieldset>
      <input class="btn" type="submit" id="addEmployeeButton" value="Add employee">
      <input class="btn" type="button" value="cancel">
    </form>
  </div>

  <p>&nbsp;</p>
  <div id="update">
    <form method="POST" id="updateEmployee">
      <legend><strong>Update employee</strong></legend>
      <fieldset class="fields">
        <label> ID to update </label> <select name="ID">
          <option value="0">&nbsp;</option>
          <%records.forEach(record=> {%>
          <option value="<%=record.idEmployee%>"><%=record.idEmployee%></option>
          <%});%>
        </select>
        <label> first name </label> <input type="text" name="firstName">
        <label> last name </label> <input type="text" name="lastName">
        <label> hire date </label> <input type="date" name="hireDate">
        <label> email </label> <input type="text" name="email">
        <label> phone # </label> <input type="tel" name="phone">
      </fieldset>
      <input class="btn" type="submit" id="updateEmployeeButton" value="Save update employee">
      <input class="btn" type="button" value="cancel">
    </form>
  </div>

  <p>&nbsp;</p>
  <div id="delete" style="display: block">
    <form method="POST" action="/employees/delete" id="deleteEmployee">
      <legend><strong>Delete employee</strong></legend>
      <fieldset class="fields">
        <label> ID </label>
        <select name="ID">
          <option value="0">&nbsp;</option>
          <%records.forEach(record=> {%>
          <option value="<%=record.idEmployee%>"><%=record.idEmployee%></option>
          <%});%>
        </select>
      </fieldset>
      <input class="btn" type="submit" id="deleteEmployeeButton" value="Delete Employee">
      <input class="btn" type="button" value="cancel">
    </form>
  </div>

</body>

</html>